In [1]:
import pandas as pd
import numpy as np

In [2]:
filepath = "SourceData/all_bikez_curated.csv"
df = pd.read_csv(filepath)
df.head(10)

C:\Users\ahmed\AppData\Local\Temp\ipykernel_11616\3358662264.py:2: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filepath)

,Brand,Model,Year,Category,Rating,Displacement (ccm),Power (hp),Torque (Nm),Engine cylinder,Engine stroke,...,Dry weight (kg),Wheelbase (mm),Seat height (mm),Front brakes,Rear brakes,Front tire,Rear tire,Front suspension,Rear suspension,Color options
0,acabion,da vinci 650-vi,2011,Prototype / concept model,3.2,NaN,804.0,NaN,Electric,Electric,...,420.0,NaN,NaN,Single disc,Single disc,NaN,NaN,NaN,NaN,NaN
1,acabion,gtbo 55,2007,Sport,2.6,1300.0,541.0,420.0,In-line four,four-stroke,...,360.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,acabion,gtbo 600 daytona-vi,2011,Prototype / concept model,3.5,NaN,536.0,NaN,Electric,Electric,...,420.0,NaN,NaN,Single disc,Single disc,NaN,NaN,NaN,NaN,NaN
3,acabion,gtbo 600 daytona-vi,2021,Prototype / concept model,NaN,NaN,536.0,NaN,Electric,Electric,...,420.0,NaN,NaN,Single disc,Single disc,NaN,NaN,NaN,NaN,NaN
4,acabion,gtbo 70,2007,Prototype / concept model,3.1,1300.0,689.0,490.0,In-line four,four-stroke,...,300.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Custom made.
5,access,37 offroad e-scooter,2021,Scooter,NaN,NaN,1.1,NaN,Electric,Electric,...,42.0,NaN,750.0,Single disc,Single disc,145/70-6,145/70-6,NaN,NaN,Black/orange/white
6,access,ams 3.20 supercross,2016,ATV,NaN,280.0,18.8,NaN,Single cylinder,four-stroke,...,225.0,NaN,NaN,Single disc,Single disc,21/7-10,20/11-9,NaN,NaN,"Black, white"
7,access,ams 4.30 supermoto efi,2016,ATV,NaN,359.3,29.5,NaN,Single cylinder,four-stroke,...,236.0,NaN,NaN,Single disc,Single disc,165/70-10,225/40-10,NaN,NaN,Silver/red/black
8,access,ams 4.38 sm gear shift,2016,ATV,NaN,449.0,37.6,NaN,Single cylinder,four-stroke,...,236.0,NaN,NaN,Single disc,Single disc,165/70-10,225/40-10,Double A-Arm,NaN,"Black, white"
9,access,ams 4.38 sx gear shift,2016,ATV,NaN,449.0,37.6,NaN,Single cylinder,four-stroke,...,236.0,NaN,NaN,Single disc,Single disc,21/7-10,20/11-9,Double A-Arm,NaN,"Black, white"

In [3]:
df.describe()

,Year,Rating,Displacement (ccm),Power (hp),Torque (Nm),Bore (mm),Fuel capacity (lts),Dry weight (kg),Wheelbase (mm),Seat height (mm)
count,38472.000000,21788.000000,37461.000000,26110.000000,16634.000000,28689.000000,31704.000000,22483.000000,25493.000000,24182.000000
mean,2003.195883,3.401574,552.515072,50.776040,64.527173,72.596713,13.286191,164.151532,1423.113521,789.253246
std,20.083372,0.355631,545.394956,52.082094,63.884654,18.758621,6.010670,85.085133,172.645438,105.492167
min,1894.000000,1.400000,25.000000,0.300000,1.500000,1.000000,0.500000,15.100000,725.000000,39.000000
25%,2000.000000,3.200000,125.000000,12.000000,12.200000,57.000000,8.200000,105.000000,1321.000000,743.000000
50%,2010.000000,3.400000,397.200000,30.000000,57.000000,73.000000,13.500000,145.000000,1422.000000,790.000000
75%,2016.000000,3.700000,805.000000,77.000000,102.000000,88.000000,17.500000,199.600000,1500.000000,830.000000
max,2022.000000,4.600000,8277.000000,804.000000,712.000000,176.000000,64.340000,1000.000000,3327.000000,7501.000000

In [4]:
print(df.dtypes)

Brand                   object
Model                   object
Year                     int64
Category                object
Rating                 float64
Displacement (ccm)     float64
Power (hp)             float64
Torque (Nm)            float64
Engine cylinder         object
Engine stroke           object
Gearbox                 object
Bore (mm)              float64
Stroke (mm)             object
Fuel capacity (lts)    float64
Fuel system             object
Fuel control            object
Cooling system          object
Transmission type       object
Dry weight (kg)        float64
Wheelbase (mm)         float64
Seat height (mm)       float64
Front brakes            object
Rear brakes             object
Front tire              object
Rear tire               object
Front suspension        object
Rear suspension         object
Color options           object
dtype: object

In [5]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38472 entries, 0 to 38471
Data columns (total 28 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Brand                38472 non-null  object
 1   Model                38444 non-null  object
 2   Year                 38472 non-null  int64
 3   Category             38472 non-null  object
 4   Rating               21788 non-null  float64
 5   Displacement (ccm)   37461 non-null  float64
 6   Power (hp)           26110 non-null  float64
 7   Torque (Nm)          16634 non-null  float64
 8   Engine cylinder      38461 non-null  object
 9   Engine stroke        38461 non-null  object
 10  Gearbox              32675 non-null  object
 11  Bore (mm)            28689 non-null  float64
 12  Stroke (mm)          28689 non-null  object
 13  Fuel capacity (lts)  31704 non-null  float64
 14  Fuel system          27844 non-null  object
 15  Fuel control         22008 non-null  object
 16  Cooling system       34258 non-null  object
 17  Transmission type    32861 non-null  object
 18  Dry weight (kg)      22483 non-null  float64
 19  Wheelbase (mm)       25493 non-null  float64
 20  Seat height (mm)     24182 non-null  float64
 21  Front brakes         36889 non-null  object
 22  Rear brakes          36696 non-null  object
 23  Front tire           31982 non-null  object
 24  Rear tire            32008 non-null  object
 25  Front suspension     26107 non-null  object
 26  Rear suspension      25540 non-null  object
 27  Color options        24327 non-null  object
dtypes: float64(9), int64(1), object(18)
memory usage: 8.2+ MB
None

In [6]:
print(df.isna().sum())

Brand                      0
Model                     28
Year                       0
Category                   0
Rating                 16684
Displacement (ccm)      1011
Power (hp)             12362
Torque (Nm)            21838
Engine cylinder           11
Engine stroke             11
Gearbox                 5797
Bore (mm)               9783
Stroke (mm)             9783
Fuel capacity (lts)     6768
Fuel system            10628
Fuel control           16464
Cooling system          4214
Transmission type       5611
Dry weight (kg)        15989
Wheelbase (mm)         12979
Seat height (mm)       14290
Front brakes            1583
Rear brakes             1776
Front tire              6490
Rear tire               6464
Front suspension       12365
Rear suspension        12932
Color options          14145
dtype: int64

In [7]:
df.replace('?',np.nan,inplace=True)
df.replace('0',np.nan,inplace=True)

In [8]:
# drop the row with missing model
df.dropna(subset=['Model'], axis=0, inplace=True)
print(df.isna().sum())

Brand                      0
Model                      0
Year                       0
Category                   0
Rating                 16660
Displacement (ccm)      1011
Power (hp)             12348
Torque (Nm)            21815
Engine cylinder           11
Engine stroke             11
Gearbox                 5776
Bore (mm)               9757
Stroke (mm)             9757
Fuel capacity (lts)     6748
Fuel system            10625
Fuel control           16436
Cooling system          4197
Transmission type       5608
Dry weight (kg)        15975
Wheelbase (mm)         12955
Seat height (mm)       14269
Front brakes            1571
Rear brakes             1764
Front tire              6465
Rear tire               6439
Front suspension       12360
Rear suspension        12927
Color options          14121
dtype: int64

In [9]:
df.head(5)

,Brand,Model,Year,Category,Rating,Displacement (ccm),Power (hp),Torque (Nm),Engine cylinder,Engine stroke,...,Dry weight (kg),Wheelbase (mm),Seat height (mm),Front brakes,Rear brakes,Front tire,Rear tire,Front suspension,Rear suspension,Color options
0,acabion,da vinci 650-vi,2011,Prototype / concept model,3.2,NaN,804.0,NaN,Electric,Electric,...,420.0,NaN,NaN,Single disc,Single disc,NaN,NaN,NaN,NaN,NaN
1,acabion,gtbo 55,2007,Sport,2.6,1300.0,541.0,420.0,In-line four,four-stroke,...,360.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,acabion,gtbo 600 daytona-vi,2011,Prototype / concept model,3.5,NaN,536.0,NaN,Electric,Electric,...,420.0,NaN,NaN,Single disc,Single disc,NaN,NaN,NaN,NaN,NaN
3,acabion,gtbo 600 daytona-vi,2021,Prototype / concept model,NaN,NaN,536.0,NaN,Electric,Electric,...,420.0,NaN,NaN,Single disc,Single disc,NaN,NaN,NaN,NaN,NaN
4,acabion,gtbo 70,2007,Prototype / concept model,3.1,1300.0,689.0,490.0,In-line four,four-stroke,...,300.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Custom made.

In [10]:
# drop the row with missing Engine stroke
df.dropna(subset=['Engine stroke'], axis=0, inplace=True)
print(df.isna().sum())

Brand                      0
Model                      0
Year                       0
Category                   0
Rating                 16659
Displacement (ccm)      1011
Power (hp)             12345
Torque (Nm)            21811
Engine cylinder            0
Engine stroke              0
Gearbox                 5775
Bore (mm)               9746
Stroke (mm)             9746
Fuel capacity (lts)     6740
Fuel system            10614
Fuel control           16425
Cooling system          4188
Transmission type       5603
Dry weight (kg)        15973
Wheelbase (mm)         12946
Seat height (mm)       14267
Front brakes            1568
Rear brakes             1758
Front tire              6454
Rear tire               6428
Front suspension       12349
Rear suspension        12916
Color options          14110
dtype: int64

In [11]:
df.head(5)

,Brand,Model,Year,Category,Rating,Displacement (ccm),Power (hp),Torque (Nm),Engine cylinder,Engine stroke,...,Dry weight (kg),Wheelbase (mm),Seat height (mm),Front brakes,Rear brakes,Front tire,Rear tire,Front suspension,Rear suspension,Color options
0,acabion,da vinci 650-vi,2011,Prototype / concept model,3.2,NaN,804.0,NaN,Electric,Electric,...,420.0,NaN,NaN,Single disc,Single disc,NaN,NaN,NaN,NaN,NaN
1,acabion,gtbo 55,2007,Sport,2.6,1300.0,541.0,420.0,In-line four,four-stroke,...,360.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,acabion,gtbo 600 daytona-vi,2011,Prototype / concept model,3.5,NaN,536.0,NaN,Electric,Electric,...,420.0,NaN,NaN,Single disc,Single disc,NaN,NaN,NaN,NaN,NaN
3,acabion,gtbo 600 daytona-vi,2021,Prototype / concept model,NaN,NaN,536.0,NaN,Electric,Electric,...,420.0,NaN,NaN,Single disc,Single disc,NaN,NaN,NaN,NaN,NaN
4,acabion,gtbo 70,2007,Prototype / concept model,3.1,1300.0,689.0,490.0,In-line four,four-stroke,...,300.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Custom made.

In [12]:
def Wordk_on_columns(column_name, Data_Type):
    # Show the column before changing
    print("-----------------------------------------------------------------------------------------------------------------\n")
    print("Before changes:\n")
    print("Number of NaN values",df[column_name].isna().sum())
    print("-------------------------------------------------\n")
    print("Unique values",df[column_name].unique())
    #object Data types
    if Data_Type=='type_object':
        # Get the most common Cooling system
        common_value = df[column_name].value_counts().idxmax()
        print("-------------------------------------------------\n")
        print("Common value: ",common_value)
        
        # Replace the NaN values with the commo value
        df[column_name].replace(np.nan, common_value, inplace=True)
    #float & int Data types
    elif (Data_Type=='type_int')&(Data_Type=='type_float'):
        # Get the average value
        avg_Wheelbase = df['Wheelbase (mm)'].astype('float').mean(axis=0)
        print("-------------------------------------------------\n")
        print("average value: ",avg_Wheelbase.astype('int64'))
        
        # Replace the NaN values with the average value
        df['Wheelbase (mm)'].replace(np.nan, avg_Wheelbase.astype('int64'), inplace=True)
        
    # Check if the changes worked
    print("-----------------------------------------------------------------------------------------------------------------\n")
    print("After changes:\n")
    print("Number of NaN values: ",df[column_name].isna().sum())
    print("Unique values",df['Cooling system'].unique())
        
    # Find the columns with Nan values
    print("-----------------------------------------------------------------------------------------------------------------\n")
    print("Show the columns:\n")
    print(df.isna().sum())
    print("-------------------------------------------------\n")
    df.head(5)

In [13]:
Wordk_on_columns('Color options', 'type_object')

-----------------------------------------------------------------------------------------------------------------

Before changes:

Number of NaN values 14110
-------------------------------------------------

Unique values [nan 'Custom made.' 'Black/orange/white' ... 'Graphite-Red/Orange'
 'racing-red / black' 'Black with red buddyseat']
-------------------------------------------------

Common value:  Black
-----------------------------------------------------------------------------------------------------------------

After changes:

Number of NaN values:  0
Unique values ['Liquid' nan 'Air' 'Oil & air']
-----------------------------------------------------------------------------------------------------------------

Show the columns:

Brand                      0
Model                      0
Year                       0
Category                   0
Rating                 16659
Displacement (ccm)      1011
Power (hp)             12345
Torque (Nm)            21811
Engine cylinder            0
Engine stroke              0
Gearbox                 5775
Bore (mm)               9746
Stroke (mm)             9746
Fuel capacity (lts)     6740
Fuel system            10614
Fuel control           16425
Cooling system          4188
Transmission type       5603
Dry weight (kg)        15973
Wheelbase (mm)         12946
Seat height (mm)       14267
Front brakes            1568
Rear brakes             1758
Front tire              6454
Rear tire               6428
Front suspension       12349
Rear suspension        12916
Color options              0
dtype: int64
-------------------------------------------------

C:\Users\ahmed\AppData\Local\Temp\ipykernel_11616\1057257038.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column_name].replace(np.nan, common_value, inplace=True)

In [14]:
Wordk_on_columns('Rear suspension', 'type_object')

-----------------------------------------------------------------------------------------------------------------

Before changes:

Number of NaN values 12916
-------------------------------------------------

Unique values [nan 'Independent' 'Swing Arm, adjustable' ... 'Central nitrogen absorber'
 'Single shock, non adjustable' 'Aluminium rear swing arm. Monoshock.']
-------------------------------------------------

Common value:  Monoshock
-----------------------------------------------------------------------------------------------------------------

After changes:

Number of NaN values:  0
Unique values ['Liquid' nan 'Air' 'Oil & air']
-----------------------------------------------------------------------------------------------------------------

Show the columns:

Brand                      0
Model                      0
Year                       0
Category                   0
Rating                 16659
Displacement (ccm)      1011
Power (hp)             12345
Torque (Nm)            21811
Engine cylinder            0
Engine stroke              0
Gearbox                 5775
Bore (mm)               9746
Stroke (mm)             9746
Fuel capacity (lts)     6740
Fuel system            10614
Fuel control           16425
Cooling system          4188
Transmission type       5603
Dry weight (kg)        15973
Wheelbase (mm)         12946
Seat height (mm)       14267
Front brakes            1568
Rear brakes             1758
Front tire              6454
Rear tire               6428
Front suspension       12349
Rear suspension            0
Color options              0
dtype: int64
-------------------------------------------------

C:\Users\ahmed\AppData\Local\Temp\ipykernel_11616\1057257038.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column_name].replace(np.nan, common_value, inplace=True)

In [15]:
Wordk_on_columns('Front suspension', 'type_object')

-----------------------------------------------------------------------------------------------------------------

Before changes:

Number of NaN values 12349
-------------------------------------------------

Unique values [nan 'Double A-Arm' 'Independent' ... '37mm USD forks, non adjustable'
 'Webb  fork' 'Druid  fork']
-------------------------------------------------

Common value:  Telescopic fork
-----------------------------------------------------------------------------------------------------------------

After changes:

Number of NaN values:  0
Unique values ['Liquid' nan 'Air' 'Oil & air']
-----------------------------------------------------------------------------------------------------------------

Show the columns:

Brand                      0
Model                      0
Year                       0
Category                   0
Rating                 16659
Displacement (ccm)      1011
Power (hp)             12345
Torque (Nm)            21811
Engine cylinder            0
Engine stroke              0
Gearbox                 5775
Bore (mm)               9746
Stroke (mm)             9746
Fuel capacity (lts)     6740
Fuel system            10614
Fuel control           16425
Cooling system          4188
Transmission type       5603
Dry weight (kg)        15973
Wheelbase (mm)         12946
Seat height (mm)       14267
Front brakes            1568
Rear brakes             1758
Front tire              6454
Rear tire               6428
Front suspension           0
Rear suspension            0
Color options              0
dtype: int64
-------------------------------------------------

C:\Users\ahmed\AppData\Local\Temp\ipykernel_11616\1057257038.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column_name].replace(np.nan, common_value, inplace=True)